.container {
  background-color: #f5efe7;
  padding: 50px;
  text-align: center;
}

#h1 {
  color: #4f709c;
  margin-bottom: 20px;
}

#h2 {
  color: #007bff;
  margin-bottom: 5px;
  font-size: 28px;
}

#h3 {
  color: #4f709c;
  margin-bottom: 5px;
  font-size: 24px;
}
#h4 {
  color: #007bff;
  margin-bottom: 5px;
  font-size: 20px;
}

#p {
  color: #000;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: justify;
}

#strong {
  color: #0B5380;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

ul {
  margin-left: 20px;
  text-align: justify;
  list-style: none;
  font-size: 20px;
  margin-left: -3px;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section section {
  background-color: #fff;
  margin: 10px;
  width: 14%;
  border-radius: 15px;
  text-align: center;
}

#h5 {
  color: #213555;
  margin-bottom: 5px;
  font-size: 18px;
}