.containerNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4F709C;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.navlink {
  padding: 0 15px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out; /* Transición suave en el cambio de color */
  border-radius: 8px;
  color: #f5efe7;
}
.navlink:hover {
  background-color: #007bff;
  color: #fff;
}
.navlink:active {
  color: #000;
}
