@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-n {
  @apply bg-blue-700 rounded-md m-1 mx-5 px-1 font-semibold text-lg hover:bg-blue-400 active:bg-red-700;
}
.section {
  @apply m-2 p-2 bg-rose-200 rounded-xl font-extrabold text-center;
}
.contact {
  @apply p-2 w-64 bg-rose-200 m-4;
}