@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.btn-n {
  @apply bg-black rounded-md m-1 mx-5 px-2 font-semibold text-lg hover:bg-green-400 hover:text-black active:bg-red-700;
}
.btn-nav {
  @apply bg-gray-700 text-white rounded-md m-1 mx-5 px-2 font-semibold text-lg hover:bg-green-400 hover:text-black active:bg-red-500;
}
.section {
  @apply my-2 p-1 bg-gray-800 rounded-xl font-extrabold text-center md:w-48;
}
.contact {
  @apply w-40 bg-slate-600 m-2 rounded-xl p-2;
}
.container {
  @apply bg-gray-700 text-white pt-14 text-center min-h-screen min-w-full p-2;
}
.title {
  @apply text-xl bg-gray-800 max-w-min m-auto p-2 rounded-2xl border-4 border-gray-600 mb-4
}
.titleSubSection {
  @apply font-bold text-xl pb-3
}
.subTitle{
  @apply text-2xl font-bold bg-gray-600 max-w-fit m-auto p-1 rounded-2xl border-4 border-gray-500 my-4
}
.subTitle2{
  @apply text-xl font-bold bg-gray-500 max-w-fit m-auto p-1 rounded-2xl border-4 border-gray-400 my-4
}
.text {
  @apply text-justify font-semibold 
}